@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
  font-family: "Pretendard-Regular";
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1s step-end infinite;
}

::selection {
  background: #d884fc;
  color: #000000;
}

#scroll::-webkit-scrollbar {
  width: 10px;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 5px;
}
#scroll::-webkit-scrollbar-track {
  background-color: #d1d5db;
  border-radius: 5px;
}

.title-font {
  font-family: "GmarketSansMedium";
}

.neon-effect {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 20px #d946ef, 0 0 40px #d946ef;
}

.fadein-effect {
  animation: fadein 0.5s linear forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.moving-effect {
  animation: moving 0.3s linear forwards;
}

@keyframes moving {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.style {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 1;
  fill: #000000;
}
.style:hover {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 1;
  cursor: pointer;
  fill: #d884fc;
}
.styleClick {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #d884fc;
  cursor: pointer;
}

.TEXT {
  font-family: "Pretendard-Regular";
  fill: #ffffff;
  font-size: 14px;
  text-anchor: middle;
  alignment-baseline: middle;
}
